<!-- <app-hello-world></app-hello-world> -->
<!-- Result is : {{1+1}} -->
<!-- {{getMin(5,3)}} -->

<!-- COMPONENTS COMMUNICATION 
1.binding

parent to child: using input decorator
child to parent: using output decorator -->
<!-- <app-parent></app-parent> -->

<!-- inject HTML into component -->
<!-- <app-child>
    <h3 question>Is this ng-content cool?</h3>
    <p answer>Yeah it is!</p>
</app-child> -->

<!-- template statement
<button (click)="toggleText($event)">Toggle text</button>
{{showText}} -->

<!-- Pipes (datepipe, uppercasepipe, currencypipe, percentpipe etc) -->
<!-- {{todaysDate | date}} -->
<!-- {{todaysDate | date: 'short'}} -->
<!-- {{todaysDate | date: 'long'}} -->
<!-- {{todaysDate | date: 'EEEE d MMMM y'}} -->
<!-- {{todaysDate | date: 'EEEE d MMMM y' | uppercase}} -->
<!-- {{'World' | greetingsPipe}} -->

<!-- Property binding -->
<!-- <img [src]="itemImageUrl"> -->

<!-- confusão comum entre atributo colspan e a propriedade colSpan -->
<!-- o certo é o abaixo. Caso contrário vai dar erro de interpolação caso use colspan="{{1+1}}" -->
<!-- interpolação e property binding só seta propriedades e não atributos   -->
<!-- <table>
    <tr>
        <td [colSpan]="1+1">Three-Four</td>
    </tr>
</table> -->

<!-- outro exemplo -->
<!-- <button [disabled]="isUnchanged">Disabled Button</button> -->

<!-- interpolação 
<p><img src="{{itemImageUrl}}" alt=""></p>
-->
<!-- prop binding 
<p><img [src]="itemImageUrl" alt=""></p>
-->

<!-- two-way binding 
<app-app-sizer [(size)]="fontSizepx"></app-app-sizer>
<div [style.font-size.px]="fontSizepx">Resizible text</div>
-->

<!-- two-way binding 
    é combinação reduzida entre property binding ( [size]="fontSizepx" ) e event binding ( (sizeChange)="fontSizepx" ) -->
<!-- <app-app-sizer [size]="fontSizepx" (sizeChange)="fontSizepx"></app-app-sizer> -->

<!-- Template driven forms -->
<!-- <p>{{model | json}}</p> -->
<!-- <div [hidden]="submited">
    <form #petForm="ngForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="name"></label>
            <Input type="text" 
            id="name"
            required
            [(ngModel)]='model.name'
            name="name"
            />
        </div>
        <div>
            <label for="specie"></label>
            <select id="specie" required [(ngModel)]='model.specie' name="specie">
                <option *ngFor="let specie of species" [value]="specie">{{specie}}</option>
            </select>
        </div>
        <button [disabled]="!petForm.form.valid" type="submit">Submit</button>
    </form>
</div>
<div [hidden]="!submited">
    <h2>You submited:</h2>
    <p>Name: {{model.name}}</p>
    <p>Specie: {{model.specie}}</p>
    <button (click)="submited = false">Edit</button>
</div> -->


<!-- Reactive forms -->
<!-- <label for="name">Name:</label>
<input id="name" type="text" [formControl]="name"/>
<p>value: {{name.value}}</p>
<p>
    <button (click)="updateName()">UpdateName</button>
</p> -->

<!-- formGroup -->
<!-- <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label for="first-name">First Name</label>
    <input id="first-name" type="text" formControlName="firstName">
    <label for="last-name">Last Name</label>
    <input id="last-name" type="text" formControlName="lastName">
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form> -->

<!-- Form validation -->
<!-- <form action="">
    <input 
        type="text" 
        name="name" 
        required 
        minlength="4" 
        [(ngModel)]="nameInput" 
        #name="ngModel"
    />
    <div *ngIf="name.invalid && (name.dirty || name.touched)">
        <div *ngIf="name.errors?.['required']">
            Name is required.
        </div>
        <div *ngIf="name.errors?.['minlength']">
            Name must be at least 4 characters long.
        </div>
    </div>
</form> -->

<!-- usando validationForm + get Name -->
<form [formGroup]="validationForm">
    <input 
        type="text" 
        name="name" 
        required 
        minlength="4" 
        formControlName="name"
    />
    <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">
        <div *ngIf="name?.errors?.['required']">
            Name is required.
        </div>
        <div *ngIf="name?.errors?.['minlength']">
            Name must be at least 4 characters long.
        </div>
    </div>
</form>