<!-- <app-hello-world></app-hello-world> -->
<!-- Result is : {{1+1}} -->
<!-- {{getMin(5,3)}} -->

<!-- COMPONENTS COMMUNICATION 
1.binding

parent to child: using input decorator
child to parent: using output decorator -->
<!-- <app-parent></app-parent> -->

<!-- inject HTML into component -->
<!-- <app-child>
    <h3 question>Is this ng-content cool?</h3>
    <p answer>Yeah it is!</p>
</app-child> -->

<!-- template statement
<button (click)="toggleText($event)">Toggle text</button>
{{showText}} -->

<!-- Pipes (datepipe, uppercasepipe, currencypipe, percentpipe etc) -->
<!-- {{todaysDate | date}} -->
<!-- {{todaysDate | date: 'short'}} -->
<!-- {{todaysDate | date: 'long'}} -->
<!-- {{todaysDate | date: 'EEEE d MMMM y'}} -->
<!-- {{todaysDate | date: 'EEEE d MMMM y' | uppercase}} -->
<!-- {{'World' | greetingsPipe}} -->

<!-- Property binding -->
<!-- <img [src]="itemImageUrl"> -->

<!-- confusão comum entre atributo colspan e a propriedade colSpan -->
<!-- o certo é o abaixo. Caso contrário vai dar erro de interpolação caso use colspan="{{1+1}}" -->
<!-- interpolação e property binding só seta propriedades e não atributos   -->
<!-- <table>
    <tr>
        <td [colSpan]="1+1">Three-Four</td>
    </tr>
</table> -->

<!-- outro exemplo -->
<!-- <button [disabled]="isUnchanged">Disabled Button</button> -->

<!-- interpolação 
<p><img src="{{itemImageUrl}}" alt=""></p>
-->
<!-- prop binding 
<p><img [src]="itemImageUrl" alt=""></p>
-->