<!-- <app-hello-world></app-hello-world> -->
<!-- Result is : {{1+1}} -->
<!-- {{getMin(5,3)}} -->

<!-- COMPONENTS COMMUNICATION 
1.binding

parent to child: using input decorator
child to parent: using output decorator -->
<!-- <app-parent></app-parent> -->

<!-- inject HTML into component -->
<!-- <app-child>
    <h3 question>Is this ng-content cool?</h3>
    <p answer>Yeah it is!</p>
</app-child> -->

<!-- template statement
<button (click)="toggleText($event)">Toggle text</button>
{{showText}} -->